@import "~@/styles/common/variables";

.report-data {
	border: solid 1px #333;
	border-left: solid 8px $kpmg-blue--medium;
	margin-bottom: 2em;

	&__title {
		font-size: 1rem;
		font-weight: 700;
		color: black;
		line-height: 1;
		background: #eee;
		margin-top: 0;

    &::before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 2em;
			height: 2.5em;
			background: $kpmg-blue--medium;
			margin-right: 1em;
    }
	}
	&__dataList {
		li {
			display: block;
			margin-bottom: .65em;
		}
	}
}