@import "~@/styles/common/variables";

.report-data {
	border: solid .05em #333;
	border-left: solid 5px $kpmg-blue--medium;
	margin-bottom: 2em;

	&__title {
		font-size: 1rem;
		font-weight: 700;
		color: black;
		line-height: 1;
		background: #eee;
		margin-top: 0;
		position: relative;
    padding: 1em 0 1em 2.7em;

    &::before {
			content: "";
	    width: 2em;
			background: $kpmg-blue--medium;
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
    }
	}
	&__dataList {
		li {
			margin-bottom: .65em;
		}
	}
}