@import "~@/styles/common/variables";

.board-control-1 {
	.module-title {
		font-family: $kpmg-font-stack;
		color: $kpmg-blue--light;
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 1.3em;
	}
}