@import "~@/styles/common/variables";


.board-control-1 {
	width: 80%;
	
	.module-title {
		font-family: $kpmg-font-stack;
		color: $kpmg-blue--light;
		font-size: 2.7rem;
		font-weight: 700;
		margin-bottom: 1.3rem;
    margin-top: 0;
	}

	.circular-chart {
		position: absolute;
    top: 0;
    right: 3em;
    width: 150px;
    margin: 0;
	}
}